{{#partial "content"}}

<h1>Welcome to the Heroes Application</h1>
<div class = "space"></div>
<div class = "space"></div>

<div class="btns">
    <a href="/heroes"><button class="btn btn-cyan">View Hero List</button></a>
    <a href="/squad"><button class="btn btn-cyan">Add Squad</button></a>
</div>

{{/partial}}
{{> layout.hbs}}